{% extends "base.html" %}

{% block content %}
	<br>
    <div class="jumbotron">
        <h1>About us</h1>
    	<br>
    	<p>
    	    Are you a code enthusiast looking for reasons to code?
            Welcome to Bitsplease!!!!
            We at Bitsplease provide you an opportunity to showcase and improve your coding skills.
            From beginners to masters we have got a challenge for everyone.
            Take part in multiple contest and display your coding capabilities, interact with us to learn and discuss various coding techniques to tackle logical problems.
            Happy Coding!!!



    	</p>
    	<ul>Why bitsplease?
                <li>Provides a platform for code skill development</li>
                <li>Regular Contest to sharpen your code mind</li>
                <li>Variety in questions asked, developing logical reasoning Foundation</li>
            </ul>
    	<p>
    	     <a href="https://bitsplease.pythonanywhere.com">bitsplease.pythonanywhere.com</a> is the official website for the Bitsplease Technical Society of Maharaja Surajmal Institute, Janak Puri, New Delhi.
            Founded by students of the institute, it's focused on providing a stage for code enthusiasts to practice skills and serve as platform of discussion for coding related environments.

    	</p>
    </div>
{% endblock content %}

