{% extends "base.html" %}

{% block content %}
	<br>
	<div class="jumbotron">
		<h2>{{ object.id }}.{{ object.name }}</h2>
		<h5>{% if object.contest %}
			Contest -
			<a href="{% url 'contest_detail' pk=object.contest.id %}">{{ object.contest }}</a>
			|
		{% endif %} Difficulty -  {{ object.get_level_display }}</h5>
		<hr>
		{{ object.description|safe|linebreaks }}

		{% if object.Url1 %}
			<form action="{{ object.Url1 }}" style="display: inline;" target="_blank">
    			<input type="submit" class="btn btn-success" value="One" />
			</form>
		{% endif %}
		{% if object.Url2 %}
			<form action="{{ object.Url2 }}" style="display: inline;" target="_blank">
    			<input type="submit" class="btn btn-success" value="Two" />
			</form>
		{% endif %}
		{% if object.Url3 %}
			<form action="{{ object.Url3 }}" style="display: inline;" target="_blank">
    			<input type="submit" class="btn btn-success" value="Three" />
			</form>
		{% endif %}
		{% if object.Url4 %}
			<form action="{{ object.Url4 }}" style="display: inline;" target="_blank style">
    			<input type="submit" class="btn btn-success" value="Four" />
			</form>
		{% endif %}

		{% if object.Url5 %}
			<form action="{{ object.Url5 }}" style="display: inline;" target="_blank">
    			<input type="submit" class="btn btn-success" value="Five" />
			</form>
		{% endif %}
		<br><br>
		<h5>Compile and test your code <a target="_blank" href="https://ideone.com/">here</a>.</h5>
		{% if object.answer %}
			<form action="{{ object.answer }}" target="_blank">
    			<input type="submit" class="btn btn-primary" value="Solution" />
			</form>
		{% endif %}
	</div>
{% endblock content %}
